.menutable {
	width: 35%;
	height: 550px;
	background-color: white;
	margin-left: 0px;
	margin-top: 105px;
	opacity: 0.8;
	text-align: center;
	line-height: 50px;
}
.menutable a{
	text-decoration: none;
	color: black;
}
.menutable a:focus{
	text-decoration: underline;
	font-size: 25px;
}
.menudetail{
	height: 85%;
	width: 0;
	position: fixed;
	top: 106px;
	left: 480px;
	background-color: #d9d9d9;
	overflow-x: hidden;
	transition: 0.5s;
	opacity: 0.9;
}
.menudetail a{
	text-decoration: none;
	display:block;
}
.menucontent img{
	border-radius:5px;
	padding-left: 10px;
}
.menucontent{
	margin-top: 20px;
	font-size: 20px;
}
#menuboder{
	border-bottom: 3px dotted gray;
}
.menucontent a{
	color: black;
	padding:20px;
}
#closebutton{
	font-size: 20px;
	color: black;
}
#kcmenu a{
	padding: 30px;S
}
i{
	float: right;
	padding-right: 10px;
}
